<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/css/reset.min.css" />
    <link rel="stylesheet" href="assets/css/style.css" />    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.14/moment-timezone.min.js"></script>
    <script src="./assets/js/modal.js" defer></script>        
    <script src="./assets/js/bbs.js" defer></script>        
    <title>BBS LIST</title>
  </head>
  <script>
function nowTime() {
  var dateM = moment().format('YYYY-MM-DD HH:mm:ss')  
  var clock= document.querySelector('#clock')
  clock.innerText = dateM;
}
setInterval(nowTime, 1000);
  </script>
  <body data-id='<%=id%>'>    
    <div class="container bbs-list">
      <div id="clock"></div>
      <div class="bbs-con">        
        <div class="titlebox">FREE BOARD</div>
        <div class="boardlist">
          <ul>
            <!-- list  -->
          </ul>
        </div>
      </div>
      <!-- bbs-con end -->
      <div class="wrt-btnbox">
        <a class="modalOpen">글등록</a> 
      </div>
    </div>
    <!-- container end  -->
    <div class="modal">
      <div class="container bbs-write">
        <div class="bbs-con">
          <div class="titlebox">FREE BOARD222</div>
          <div class="boardlist">
            <ul>
              <li>
                <div class="num"></div>
                <div class="title">
                  <a><input type="text" value=""  id="title-Input" placeholder="제목입력"/></a>
                </div>
                <div class="date"></div>
                <div class="member"></div>
              </li>
            </ul>
          </div>
          <!-- bboardlist end  -->
          <div class="bbsview-infoarea">
            <div>
              <textarea name="" id="modi-txtarea"> </textarea>
            </div>
          </div>
          <!-- bbsview-infoarea -->
        </div>
        <!-- bbs-con end -->
        <div class="wrt-btnbox"><a class="modal-closeX">닫기</a></div>
        <div class="wrt-btnbox modiBtnBox"><a class="modiBtn modal-closeX">글수정</a></div>
        <div class="wrt-btnbox wrtbtn"><a class="writeBtn write-close">글등록</a></div>
        <!-- <div class="wrt-btnbox"><a href="bbsmodi.html">수정</a></div>  -->
      </div>
      <!-- container end  -->
    </div>
    <div class="modal2">
      <div class="container bbs-write">
        <div class="bbs-con">
          <div class="titlebox">FREE BOARD222</div>
          <div class="boardlist">
            <ul>
              <li>
                <div class="num"></div>
                <div class="title">
                  <a><input type="text" value=""  id="title-Input" placeholder="제목입력"/></a>
                </div>
                <div class="date"></div>
                <div class="member"></div>
              </li>
            </ul>
          </div>
          <!-- bboardlist end  -->
          <div class="bbsview-infoarea">
            <div>
              <textarea name="" id="modi-txtarea"> </textarea>
            </div>
          </div>
          <!-- bbsview-infoarea -->
        </div>
        <!-- bbs-con end -->
        <div class="wrt-btnbox"><a class="modal-closeX">닫기</a></div>
        <div class="wrt-btnbox modiBtnBox2"><a class="modiBtn2 modal-closeX">글수정</a></div>
        <!-- <div class="wrt-btnbox wrtbtn"><a class="writeBtn write-close">글등록</a></div> -->
        <!-- <div class="wrt-btnbox"><a href="bbsmodi.html">수정</a></div>  -->
      </div>
      <!-- container end  -->
    </div>
  </body>

</html>
